h1{
    color:black;
    text-align: center;
}
body {
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF2zpl_lHrIZwVIopF-1YVSedZ9B-fQQOXVw&usqp=CAU");
     background-repeat: no-repeat;
     background-size: cover;
     
}

#image1 {
    margin-top: 50px;
    margin-left: 200px;
    border: 3px dotted darkblue;
    border-radius: 50px;
}
#image2 {
    margin-top: 50px;
    margin-left: 200px;
    border: 3px dotted darkblue;
    border-radius: 50px;
}
#image3 {
    margin-top: 50px;
    margin-left: 200px;
    border: 3px dotted darkblue;
    border-radius: 50px;
}
#image4 {
    margin-top: 50px;
    margin-left: 200px;
    border: 3px dotted darkblue;
    border-radius: 50px;
}
#image5 {
  
    margin-left: 480px;
    border: 3px dotted darkblue;
    border-radius: 50px;
}
