body{
    background-color: rgb(105, 5, 5);
}
header{
    color: whitesmoke;
    text-align: center;
}

.table-container{
    width: 90%;
    height: 2000px;
    background-color: rgb(245, 245, 145);
    margin: auto;
}
tbody tr td{
    border: 0.5px solid gray;

}
.col1{
    width: 10%;


}
.col2{
    width: 100%
}
table{
    margin: 0;
    padding: 0;
    width: 100%;
}

